<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Privacy policy</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Company's policy</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>User guidelines</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Legal information</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Our reserved rights</ion-label>
  </ion-item>
</ion-list>
</ion-content>

