.add-report-image {
  padding-top: 10px;
  height: 200px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  height: 9.375rem;
}

ion-icon {
  font-size: 25px;
}

ion-select {
  max-width: 95%;
  border-bottom: 1px solid var(--ion-color-primary);
}

ion-textarea {
  border-radius: 5px;
  border: 0.5px solid var(--ion-color-primary);
  padding: 4px 10px;
  width: 95% !important;
  min-height: 75px;
}