<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'SIDE_MENU.About Us' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ol>
    <li>
      {{ 'ABOUT_US.POINT_1' | translate }}
    </li>
    <li>
      {{ 'ABOUT_US.POINT_2' | translate }}
    </li>
    <li>
      {{ 'ABOUT_US.POINT_3' | translate }}
    </li>
    <li>
      {{ 'ABOUT_US.POINT_4' | translate }}
    </li>
    <li>
      {{ 'ABOUT_US.POINT_5' | translate }}
    </li>
  </ol>
</ion-content>
