<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item lines="none">
    <p style="text-indent: 30px;">The application is designed to improve the citizen engagement in India eventually
       serving as a bridge between the government and its citizens.
       The citizens will be able to register their issues such as litter, broken footpaths, potholes etc.
       all of which could be defined under public works undertaken by the municipal corporation.
       The application also has the potential to create employment opportunities and at the same time cater to its citizens.</p>
  </ion-item>
  <ion-item lines="none">
    <p>The application on opening will ask new users for basic information like name, email and phone number 
      after which the app will lead the user to its homepage. Once on the homepage the user can easily add reports and view reports.</p>
  </ion-item> 
</ion-content>