.hide {
    visibility: hidden;
    height: 0px;
}

.card-content {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    font-size: 24px;
    flex-shrink: 0;
}

.text-container {
    flex-grow: 1;
}

.title,
p {
    display: -webkit-box;
    font-weight: bold;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.description {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-skeleton-text {
    height: 15rem;
    border-radius: 1.5rem 1.5rem 10px 10px;
    width: 100%;
    margin: 0 12px;
}