.container {
   height: 85%;
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 2rem;
   row-gap: 2rem;
}

.success-msg {
   display: flex;
   justify-content: center;
   position: relative;
   top: 13%;
}

h1 {
   background: linear-gradient(to right, #187a65, #25b791);
   background-clip: text;
   color: transparent;
   display: inline-block;
   animation: tada 1s ease 2;
}

@keyframes tada {
   0% {
      transform: scale(1);
   }

   10%,
   20% {
      transform: rotate(3deg);
   }

   30%,
   50%,
   70%,
   90% {
      transform: rotate(-3deg);
   }

   40%,
   60%,
   80% {
      transform: rotate(3deg);
   }

   100% {
      transform: scale(1);
   }
}