ion-card-content {
    padding: 10px 0;

    &#govt-card {
        padding: 10px !important;
    }
}

ion-card {
    margin: 24px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.alert-image {
    height: 70%;
    object-fit: cover;
}

ion-card-title {
    font-size: 1.4em;
    font-weight: bold;
}

p {
    font-size: 1em;
    color: #333;
}

ion-img {
    padding: 0.5rem;
    object-fit: cover;
}

ion-img::part(image) {
    border-radius: 1.5rem 1.5rem 10px 10px;
}

.ulist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ellipsis-i {
    font-size: 28px;
}