<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin Panel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <div id="doughnut-chart" style="width: 400px; height: 300px;"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card (click)="adminPanel(isAdmin)">
          <ion-card-content>
            <ion-row class="total-reps">
              <ion-col size="12">
                <div class="container">
                  <div class="left-container">
                    <div class="top-div"><h2>Pending</h2></div>
                    <div class="bottom-div">The total reports pending in your city are: <strong>231</strong></div>
                  </div>
                  <div class="right-div">
                    <ion-icon name="chevron-forward" size="large"></ion-icon>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <!-- Third Row: One More Long Card -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            Content for Long Card 2
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>