ion-toolbar,
ion-header {
  --background: var(--ion-color-primary);
}

ion-content {
  position: relative;
  background-color: var(----ion-color-light-shade);
  --background: var(--ion-color-light);
  .container {
    position: absolute;
    background-color: var(--ion-color-primary);
    height: 50vh;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%/0 0 50px 50px;
  }
}

.text-white {
  color: var(--ion-color-light);
}
