<ion-content class="jay">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>MyCity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab class="newrep">
  <ion-fab-button color="dark">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab class="recent">
  <ion-fab-button color="dark">
    <ion-icon name="time"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab class="myrep">
  <ion-fab-button color="dark">
    <ion-icon name="document"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab class="favs">
  <ion-fab-button color="dark">
    <ion-icon name="alert-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
