<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong class="text-white"
        >{{'DASHBOARD_PAGE.DASHBOARD' | translate}}</strong
      >
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        *ngIf="isAdmin"
        (click)="adminPanel(isAdmin)"
        slot="end"
        class="admin-panel"
        name="clipboard-outline"
      ></ion-icon>
      <ion-badge
        *ngIf="isAdmin"
        color="danger"
        style="position: absolute; right: -5px; top: -3px; font-size: 11px"
        >{{totalReports}}</ion-badge
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container"></div>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding" *ngFor="let p of pages" size="6">
        <app-mc-dashboard-button
          [image]="p.image"
          [text]="p.text  | translate"
          (click)="addReport(p.url)"
        ></app-mc-dashboard-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list-header class="ion-no-margin" mode="ios">
    <ion-label class="ion-no-margin"
      >{{'DASHBOARD_PAGE.Recent Reports' | translate}}</ion-label
    >
    <ion-button
      color="dark"
      routerLink="/recent-reports"
      routerDirection="forward"
      class="ion-no-margin"
      >{{'DASHBOARD_PAGE.View All' | translate}}</ion-button
    >
  </ion-list-header>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let report of allReports" class="ion-padding">
      <ng-container *ngIf="allReports.length">
        <app-mc-report-card [report]="report"></app-mc-report-card>
      </ng-container>
      <ng-container *ngIf="!isReportLoaded">
        <app-report-card-skeleton
          *ngFor="let item of [1,2,3,4,5]"
        ></app-report-card-skeleton>
      </ng-container>
    </ion-slide>
  </ion-slides>
</ion-content>
