.newrep{
    width: 20%;
    height: 10%;
    position: absolute;
    top: 30%;
    right: 50%;    
}

.addReport{
    font-size: medium;
    display: flex;
    position: absolute;
    top: 38%;
    right: 53%;
}

.recentReport{
    position: fixed;
    top: 38%;
    right: 25%;
}

.myReports{
    position: fixed;
    top: 58%;
    right: 53%;
}

.govAlerts{
    position: fixed;
    top: 58%;
    right: 22%;
}

ion-content{
    --background: url('../../assets/buildings.png') no-repeat bottom fixed;
}

.recent{
    width: 20%;
    height: 10%;
    position: absolute;
    top: 30%;
    left: 60%;   
}

.myrep{
    width: 20%;
    height: 10%;
    position: absolute;
    top: 50%;
    right: 50%;    
}

.favs{
    width: 20%;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 60%;  
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    /* Ipad styles */
    .addReport{
        top: 37%;
        right: 62%;
    }

    .recentReport{
        position: fixed;
        top: 37%;
        right: 33%;
    }

    .govAlerts{
        top: 57%;
        right: 31%;
    }

    .myReports{
        top: 57%;
        right: 62%;
    }
   }