h4{
    color: white;
}
.subBtn{
    padding-top: 30px;
}

h6{
    text-align: center;
}

.regBtn{
    padding-left: 35%;
}

ion-card{
    top: 20%;
    height: 20rem;
    background-color: rgb(40, 39, 39);
    color: white;
    border-radius: 5%;
}
ion-card-title{
    padding-left: 2rem;
}