ion-toolbar {
  --background: var(--ion-color-primary);
}

ion-content {
  position: relative;
  background-color: var(----ion-color-light-shade);
  --background: var(--ion-color-light);
  .profile {
    font-size: 200px;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    position: absolute;
    background-color: var(--ion-color-primary);
    height: 30vh;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%/0 0 50px 50px;
  }

  .log-out-confirmed{
    color: white;
    background: red;
  }
}
