.profile{
    font-size: 200px;
    margin: auto;
    padding-left: 24%;
}

.edit{
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
}

ion-button{
    padding-top: 10px;
}

ion-modal {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
  }