.approve-btn {
    margin-left: 60%;
}

.map-container {
    height: 9.375rem;
}

.map-holder {
    margin: 24px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.image-data-not-available {
    color: #777;
    font-size: 16px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .approve-btn {
        margin-left: 80%;
    }
}

.add-report-image {
    padding: 1rem 1rem;
}

ion-img::part(image) {
    border-radius: 1.5rem 1.5rem 10px 10px;
}

.category-container {
    padding: 12px 0 16px;
}

.category-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 6px;
}

.subcategory {
    font-size: 20px;
    color: #666;
}

.description {
    font-size: 18px;
    color: #444;
    margin: 4px 0;
}

h1,
h2 {
    margin-top: 0;
}

.ion-text-center {
    display: flex;
    align-items: baseline;
    font-weight: bold;
    margin: 0 5px;
}

ion-button[color="light"]::part(native) {
    --ion-color-contrast: var(--ion-color-primary);
}

.scroll-content {
    position: relative;
}

.down-arrow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 60px;
    color: #000;
    cursor: pointer;
    z-index: 10;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .approve-btn {
        margin-left: 80%;
    }
}