.approve-btn{
    margin-left: 60%;
}

.tick-icon{
    padding-right: 10px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
{
    .approve-btn{
        margin-left: 80%;
    }
}