.hide {
  visibility: hidden;
  height: 0px;
}

.card-content {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  font-size: 24px;
  flex-shrink: 0;
}

.text-container {
  flex-grow: 1;
}

.title,
p {
  display: -webkit-box;
  font-weight: bold;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-skeleton-text {
  height: 15rem;
  /* JB: Follows ion-img */
  width: 100%;
  border-radius: 1.5rem 1.5rem 10px 10px;
  margin: 0 12px;
}

ion-img {
  padding: 0.5rem;
  height: 15rem;
  /* JB: Set fixed height for images for all cards*/
  object-fit: cover;
}

ion-img::part(image) {
  border-radius: 1.5rem 1.5rem 10px 10px;
}

.def-padding {
  padding: 1rem;
}

ion-card {
  border-radius: 1.5rem 1.5rem 10px 10px;
}